.products {
   max-width: 640px;
   width: 100%;
   margin: 56px auto;
   display: grid;
   grid-template-columns: 33% 33% 33%;
   grid-column-gap: 6%;

   .product {
      width: 225px;
      height: 300px;
      text-align: center;
      
      &__image {
         width: 90%;
         margin-top: 10px;
      }

      &__name {
         margin: 8px 0; 
         font-size: 1.2em;
      }

      &__description {
         color: gray;
      }

      &--highlighted {
         border: 2px solid gold;
         background-color: #ffff42;

         &__name {
            font-weight: 900;
         }
      }
   }
}